.container{
    display:flex;
    justify-content:space-evenly;
    align-content: center;
    background-color:gray;
    max-height: 75vh;
    height: 10vh;
    
}
.item{
    color:mediumorchid;
    font-size:30px;
}